.big-blue-text {
	font-size: 64px;
	color: blue;
}
.centered-text {
	text-align: center;
}

/*id에 스타일 입히는 법*/
#best-text {
	color: orange;
}

@font-face {
	src: url("../fonts/BMJUA_ttf.ttf");
	font-family: "JUA";
}